html {
	background-color: #f2f2f2;
}

body {
	margin: 0 auto;
	padding: 0;

	width: 1200px;

	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);

	        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);

	border: none;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

header a,
main a,
footer a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.main-navigation li {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	width: 239px;
	padding: 15px 0px;
	margin: 0px;
}

.main-navigation li:nth-of-type(1) {
	padding-left: 9px;
}

.main-navigation li:nth-of-type(2) {
	padding-left: 12px;
}

.main-navigation li:nth-of-type(3) {
	width: 244px;
}

.main-navigation li:nth-of-type(4) {
	padding-left: 9px;
}

.main-navigation li:nth-of-type(5) {
	padding-left: 18px;
}

.main-navigation a {
	display: block;
	width: 219px;

	vertical-align: middle;
	text-align: center;

	font-size: 14px;
	line-height: 26px;
}

.navigation-current {
	color: #766357;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #b3b3b3;
}

.welcome {
	background-color: #dfebf4;
	background-image: url(../img/bg-index.jpg);
	background-position: 0 -56px;
	background-size: auto;
	position: relative;
	padding-bottom: 64px;
}

.welcome::before {
	content: url('../img/layer-9.png');
	position: absolute;
	top: 134px;
	margin-left: 472px;
}

.welcome:after{
	content: '';
	width: 100%;
 	height: 57px;
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	background-image: url('../img/mask.png');
}


.welcome p {
	text-align: center;
	margin: 0px;
}

.welcome p:nth-of-type(1) {
	margin-top: 0px;
}


.welcome-line {
	padding-top: 76px;
	padding-bottom: 0px;
}

.gorgeous-line {
	padding-top: 9px;
}

.sedona-line {
	padding-top: 49px;
}

.sucks-line {
	padding-top: 53px;
	padding-bottom: 20px;
}

.features {
}

.reasons {
	text-align: center;
	margin: 0px;
}

.reasons p {
	margin: 0px;
}

.reasons p:nth-child(2n) {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	padding-top: 61px;
}

.reasons p:nth-child(3n) {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;

	padding-top: 26px;
	padding-bottom: 52px;
}


.real-town {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	width: 400px;
	height: 256px;

	padding-top: 46px;
	padding-bottom: 64px;
	padding-right: 59px;
	padding-left: 60px;


	background-color: #81b3d2;
	color: #ffffff;

	float: left;

	text-align: center;
}

.bridge {
	padding: 45px 49px 65px 49px;
}

.features h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.real-town h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

	margin: 0px;
	margin-bottom: 25px;
}

.real-town span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.real-town p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	width: 305px;

	margin: 0px;
	margin-top: 20px;
}

.town-image {
	background-image: url(../img/city.jpg);
	background-position: 0 -80px; 

	-webkit-box-sizing: border-box; 

	        box-sizing: border-box;
	width: 800px;
	height: 256px;
}

.town-features ul,
.features-rest {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}

.town-features li {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 400px;
	height: 330px;
	text-align: center;
}

.town-item {
	padding: 0px;
	margin: 0px;
}

.town-item h3 {
	margin-bottom: 0px;
}

.town-item img {
	padding-top: 60px;
	padding-bottom: 8px;
}

.town-item .gift {
	padding-top: 56px;
}

.town-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

	margin: 0px;
	margin-top: 24px;

	text-align: center;
}

.bridge-image {
	background-image: url(../img/bridge.jpg);
	background-position: 0px -77px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
	width: 800px;
	height: 256px;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.wrapper-town {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.last-features {
	background-color: #eeeeee;
	padding-bottom: 44px;
}

.features-rest {
	margin: 0px;
	margin-top: -1px;
	padding: 0px;
	padding-top: 46px;
}

.features-rest li {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 400px;

	text-align: center;
}

.features-rest h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

	margin-top: 0px;
	margin-bottom: 23px;
}

.features-rest span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.features-rest p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

	margin-top: 20px;
}

.reservation {
	text-align: center;

	padding-top: 52px;
}

.reservation b {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.reservation p {
	padding-top: 20px;
	margin-top: 4px;

	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.reservation-button {
	margin-top: 33px;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;

	width: 568px;
	height: 86px;

	background-color: #766357;

	border: 0px solid white;
}

.reservation-button:hover,
.reservation-button:focus {
	background-color: #604e43;
}

.reservation-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.map {
	height: 473px;
	background-image: url(../img/map.png);
}

#map {
	height: 473px;
	width: 100%;
}

.tag {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 400px;
}


.sedona-tag {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;

	display: block;
	
	margin-top: 46px;
	margin-bottom: 48px;

	text-align: center;
}



.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0px auto;
	padding: 0px;
	padding-top: 36px;
}

.social ul {
	list-style: none;
	margin: 36px auto;
}

.social li {
	width: 46px;
	height: 48px;

	margin-right: 6px;

	text-align: center;
	vertical-align: center;

	background-color: #81b3d2;

	display: inline-block;
}

.social li:last-child {
	margin: 0px;
}

.social a {
	display: block;
	height: 48px;
}

.social a:hover,
.social a:focus {
	background-color: #669ec0;
}

.social a:active {
	background-color: #5496bd;
	opacity: 0,3;
}

.social-button {
	display: block;
}

.twitter {
	padding: 17px 14px 16px 15px;
}

.facebook {
	padding: 13px 17px;
}

.youtube {
	padding: 16px 13px;
}

.twitter:active,
.facebook:active,
.youtube:active {
	opacity: 0.3;
}

.modal {
	color: #000000;
	background-color: #ffffff;
	margin: 0 auto;
}

.modal-find {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 568px;
	padding: 55px;
	opacity: 0;
 	visibility: hidden;
 	max-height: 0px;
 	transition: .4s;
}

.modal-active {
	opacity: 1;
 	visibility: visible;
 	max-height: max-content;
}

.modal-form {
	margin: 0px;
}

.modal-form p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 29px;
}

.button-find {
	width: 458px;

	border: none;
	background-color: #81b3d2;

	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;


	text-align: center;
	padding: 0px;
	margin-top: 21px;
}

.button-find span {
	display: inline-block;
	margin: 16px 0px;
}

.button-find:hover,
.button-find:focus {
	background-color: #669ec0;
}

.button-find:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.modal-form input[type='date'] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font: inherit;
	width: 346px;
	border: none;
	background-color: #f2f2f2;
	margin-left: 14px;
	padding-left: 13px;
	padding-top: 9px;
	padding-bottom: 8px;
}

.modal-form input[type='number'] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font: inherit;
	width: 114px;
	border: none;
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 16px;
	margin-right: 0px;
	margin-left: 35px;
}

.modal-form input[type='date']:focus {
	background-color: #ffffff;
	outline: 1px solid #e5e5e5;
}

.modal-form input[type='date']:hover {
	background-color: #ebebeb;
}

.adults-number,
.kids-number,
.modal {
	position: relative;
}

.minus-button-adults {
	content: '';

	width: 38px;
	height: 38px;

	background-image: url('../img/minus.png');
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	position: absolute;
	left: 165px;
	top: 189px;
}

.minus-button-adults:hover,
.minus-button-adults:focus,
.minus-button-kids:hover,
.minus-button-kids:focus {
	background-image: url('../img/minus-hover.png');
}

.minus-button-kids {
	content: '';

	width: 38px;
	height: 38px;

	background-image: url('../img/minus.png');
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	position: absolute;
	right: 133px;
	top: 189px;
}

.minus-button-adults:active,
.minus-button-kids:active {
	background-image: url('../img/minus-active.png');
}

.plus-button-adults {
	content: '';

	width: 38px;
	height: 38px;

	background-image: url('../img/plus.png');
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	position: absolute;
	left: 241px;
	top: 189px;
}

.plus-button-kids {
	content: '';

	width: 38px;
	height: 38px;

	background-image: url('../img/plus.png');
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	position: absolute;
	right: 59px;
	top: 189px;
}

.plus-button-adults:hover,
.plus-button-adults:focus,
.plus-button-kids:hover,
.plus-button-kids:focus {
	background-image: url('../img/plus-hover.png');
}

.plus-button-adults:active,
.plus-button-kids:active {
	background-image: url('../img/plus-active.png');
}

.check-in-button {
	content: '';

	width: 38px;
	height: 38px;

	background-image: url('../img/calendar.png');
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	position: absolute;
	right: 59px;
	top: 55px;
}

.check-in-button:hover,
.check-in-button:focus,
.check-out-button:hover,
.check-out-button:focus {
	background-image: url('../img/calendar-hover.png');
}

.check-in-button:active,
.check-out-button:active {
	background-image: url('../img/calendar-active.png');
}

.check-out-button {
	content: '';

	width: 38px;
	height: 38px;

	background-image: url('../img/calendar.png');
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center;

	border: none;

	position: absolute;
	right: 59px;
	top: 122px;
}

.number-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

input[placeholder] {
	text-transform: uppercase;
	color: #000000;
}

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;

	margin: 0px;
	padding: 0px;
}

.footer-hotels a {
	height: 48px;
}

.footer-copyright {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px;
	padding: 0px 100px;
	width: 400px;
}

.website {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;

	display: block;
	margin-top: 47px;
	margin-right: 8px;
	/*margin-left: 228px;*/
}

.footer-copyright a {
	width: 115px;

	margin: 0px;
	padding: 0px;
	margin-top: 38px;
	margin-bottom: 40px;
	background-image: url(../img/logo-name.png);
	background-repeat: no-repeat;
	position: 0 39px; 
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	background-image: url(../img/logo-name-hover.png);
}

.footer-copyright a:active {
	background-image: url(../img/logo-name-active.png);
}

.footer-copyright img {
	display: block;
	margin-right: 101px;
}

.filters fieldset {
	margin: 0px;
	padding: 0px;
	width: 239px;
}

.structure-wrapper,
.house-wrapper {
	width: 239px;
}

.parameter li {
	margin-right: 33px;
}

.parameter a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;

	display: block;
}

.parameter a:hover,
.parameter a:focus {
	color: #81b3d2;
}

.parameter a:active {
	color: #000000;
}

.parameter .blue {
	color: #81b3d2;
}

.hotels-current {
	color: #766357;
}

.hotels a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.hotels a:hover,
.hotels a:focus {
	color: #81b3d2;
}

.hotels a:active {
	color: rgba(0, 0, 0, 0.3);
}

.price-button {
	width: 133px;
	height: 32px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	border: 2px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2px;
}

.price-button:hover,
.price-button:focus {
	color: #000000;

	background-color: #ffffff;
}

.number-of-hotels {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.hotels-details span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.filters {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	background-color: #527da7;
	background-image: url(../img/background-hotels.jpg);
}

/*
.filters {
   padding: 0 70px;
   display: flex;
   justify-content: flex-start;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #ffffff;
   background-color: #527da7;
   background-image: url(../img/background-hotels.jpg);
}
*/

.filter {
	position: relative;
}

.more-button {
	width: 110px;
	height: 27px;

	padding: 0px;
	margin-right: 4px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;

	cursor: pointer;
}

.more-button:hover,
.more-button:focus {
	background-color: #669ec0;
}

.more-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.book-link {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	width: 142px;
	height: 27px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	padding: 7px auto;

	background-color: #766357;
	border: none;

	cursor: pointer;
}

.book-link:hover,
.book-link:focus {
	background-color: #604e43;
}

.book-link:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.filter-wrapper {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 239px;
}

.filter-wrapper ul {
	margin-bottom: 9px;
}

.filter-wrapper li {
	padding-bottom: 24px;
}

.filter-wrapper-range {
	margin: 0px;
	padding: 0px;
	padding-left: 334px;
	width: auto;
}

.structure-wrapper h3,
.house-wrapper h3 {
	margin-top: 26px;
	margin-bottom: 26px;
}

.structure-wrapper h3,
.structure-wrapper ul {
	padding-left: 72px;
}

.house-wrapper h3,
.house-wrapper ul {
	padding-left: 73px;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: auto;
}

.result div:first-child {
	margin-left: 72px;
	width: 115px;
}

.result div:nth-of-type(2) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 35px;
	margin-left: 49px;
	width: 450px;
}

.result div:nth-of-type(3) {
	width: 531px;
	padding-top: 39px;
	padding-right: 73px; 
}

.result {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.result ul {
	margin: 0px;
	padding: 0px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: auto;
}

.result ul:nth-of-type(2) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-left: 541px;
}

.result {
	border-bottom: 1px solid #e5e5e5;
}

.result span {
	display: inline-block;
	margin-right: 40px;
}

.order li {
	margin-left: 13px;
}

.up-button {
	width: 17px;
	height: 17px;
	background-color: #ffffff;
	background-image: url('../img/icon-up-dir.png');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	border: none;
	cursor: pointer;
}

.up-button:hover,
.up-button:focus {
	background-image: url('../img/icon-up-dir-hover.png');
	outline: 2px solid #81b3d2;
}

.up-button:active {
	background-image: url('../img/icon-up-dir-active.png');
}

.down-button {
	width: 17px;
	height: 17px;
	background-color: #ffffff;
	background-image: url('../img/icon-down-dir.png');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	border: none;
	cursor: pointer;
}

.down-button:hover,
.down-button:focus {
	background-image: url('../img/icon-down-dir-hover.png');
	outline: 2px solid #81b3d2;
}

.down-button:active {
	background-image: url('../img/icon-down-dir-active.png');
}

.dir-active {
	background-image: url('../img/icon-down-dir-active.png')
}

.number-of-hotels {
	margin-top: 31px;
	margin-bottom: 31px;
}

.hotels-list {
	margin: 0px;
	padding: 0px;
}

.hotels-type {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 110px;
	margin-right: 0px;
}

.hotels-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}

.hotels-item img {
	margin-left: 72px;
	margin-bottom: 30px;
	margin-top: 28px;
}

.hotels-wrapper h3 {
	font-size: 21px;

	margin: 0px;
	margin-top: 24px;
	margin-left: 30px;
}

.hotels-details {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 30px;
}

.hotels-details span {
	display: inline-block;
	margin-right: 4px;
}

.hotels-buttons {
	margin-left: 30px;
	margin-top: 15px;
	padding: 0px; 
}

.hotels-rating-item {
	margin-left: auto;
}

.rating-box {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 110px;
	height: 27px;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 13px;
	padding-right: 13px;
	right: 73px;
	bottom: 30px;
	background-color: #f2f2f2;
	position: absolute;
}

.hotels-rating-number {
	font-weight: 400;
	color: #666666;
}

.hotels-rating-stars {
	position: absolute;
	right: 72px;
	top: 29px;
}

.hotels-rating-stars img {
	margin: 0px;
}

.filter label {
	position: relative;

	padding-left: 40px;
	padding-top: 3px;

	cursor: pointer;
}

.filter input[type='checkbox'] + .checkbox-indicator{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 23px;
	height: 23px;

	background-image: url('../img/checkbox-off.png');
}

.filter input[type='checkbox']:focus + .checkbox-indicator{
	outline: 2px solid #81b3d2;
}

.filter input[type='checkbox']:checked + .checkbox-indicator{
	background-image: url('../img/checkbox-on.png');
	width: 27px;
	height: 23px;
	border: none;
}

.filter input[type='checkbox']:disabled + .checkbox-indicator{
	background-image: url('../img/blocked-passive.png');
	width: 23px;
	height: 23px;
	border: none;
}

.filter input[type='checkbox']:checked:disabled + .checkbox-indicator{
	background-image: url('../img/blocked-active.png');
	width: 27px;
	height: 23px;
	border: none;
}

.range-wrapper {
	position: relative;
	margin-left: 349px;
	padding-top: 26px; 
}

.filter-range {
  	color: #ffffff;
  	text-transform: uppercase;
}

.filter-range-title {
  	margin-bottom: 9px;

  	font-weight: 600;
  	font-size: 16px;
  	line-height: 21px;
}

.price-controls {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
  	height: 38px;
  	margin-bottom: 20px;

  	font-size: 0;

  	border: 2px solid #ffffff;
  	border-radius: 2px;
}

.price-controls input[type='text'],
.price-controls input[type='text'] {
	padding: 0px;
}

.price-controls::after {
 	content: '';
 	position: absolute;

 	top: 50%;
 	left: 50%;

	width: 2px;
 	height: 22px;

 	-webkit-transform: translate(-50%, -50%);

 	    -ms-transform: translate(-50%, -50%);

 	        transform: translate(-50%, -50%);

 	background: #ffffff;
}

.price-controls label {
  	display: inline-block;

  	font-size: 14px;
  	line-height: 38px;
  	vertical-align: top;

  	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  	width: 90px;
  	height: 38px;
  	margin-top: -2px;
  	padding-left: 55px;
  	padding-right: 10px;
  	padding-top: 0px;
}

.price-controls input {
  	width: 40px;
  	height: 38px;
  	margin: 0;

  	color: inherit;
  	font: inherit;

  	background: none;
  	border: none;
}

.range-controls {
  	position: relative;

  	margin-bottom: 32px;
}

.scale {
  	height: 2px;

  	background: rgba(255, 255, 255, 0.3);
}

.bar {
  	width: 80%;
  	height: 2px;

  	background: #ffffff;
}	

.range-toggle {
	position: absolute;
  	top: -9px;

  	width: 4px;
  	height: 4px;

  	background: #ababab;
  	border: 8px solid #ffffff;
  	border-radius: 50%;
  	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  	left: 0px;
}

.range-toggle-max {
  	left: 80%;
}

.btn-transparent {
  	display: block;
  	margin: 0 auto;
  	padding: 6px 35px;

  	font-size: 14px;
  	line-height: 20px;
  	color: #ffffff;
  	text-transform: uppercase;

  	background: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
  	cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
	background-color: #ffffff;
	color: #000000;
}

.invite-image p {
	border: 1px solid black;
}


.site-navigation li {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 239px;
	text-align: center;
	margin: 0px;
}

.navigation-logo{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 244px;
}

.site-navigation,
.features-list,
.social {
	list-style: none;
}

.site-navigation a,
.social a,
.sedona-tag {
	color: #000000;
}

.social ul,
.filters ul,
.result ul,
.hotels ul {
	list-style: none;
}

.website {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
}

.main-header {
	position: relative;
}

.sed-logo {
	position: absolute;
	top: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 10;
}




