html {
	background-color: #f2f2f2;
}

body {
	margin: 0 auto;
	padding: 0;

	width: 1200px;

	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);

	border: none;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

header a,
main a,
footer a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.main-navigation li {
	box-sizing: border-box;

	width: 239px;
	padding: 15px 0px;
	margin: 0px;
}

.main-navigation li:nth-of-type(1) {
	padding-left: 9px;
}

.main-navigation li:nth-of-type(2) {
	padding-left: 12px;
}

.main-navigation li:nth-of-type(3) {
	width: 244px;
}

.main-navigation li:nth-of-type(4) {
	padding-left: 9px;
}

.main-navigation li:nth-of-type(5) {
	padding-left: 18px;
}

.main-navigation a {
	display: block;
	width: 219px;

	vertical-align: middle;
	text-align: center;

	font-size: 14px;
	line-height: 26px;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.welcome {
	background-color: #dfebf4;
	background-image: url(../img/bg-index.jpg);
	background-position: 0 -56px;
	background-size: auto;
	position: relative;
}

.welcome::after {
	content: url('../img/mask.png');
	width: 100%;
}

.welcome::before {
	content: url('../img/layer-9.png');
	position: absolute;
	top: 144px;
	margin-left: 472px;
}

.welcome p {
	text-align: center;
	margin: 0px;
}

.welcome p:nth-of-type(1) {
	margin-top: 0px;
}


.welcome-line {
	padding-top: 76px;
	padding-bottom: 0px;
}

.gorgeous-line {
	padding-top: 11px;
}

.sedona-line {
	padding-top: 52px;
}

.sucks-line {
	padding-top: 56px;
	padding-bottom: 23px;
}

.features {
}

.reasons {
	text-align: center;
	margin: 0px;
}

.reasons p {
	margin: 0px;
}

.reasons p:nth-child(2n) {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	padding-top: 61px;
}

.reasons p:nth-child(3n) {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;

	padding-top: 26px;
	padding-bottom: 52px;
}


.real-town {
	box-sizing: border-box;

	width: 400px;
	height: 256px;

	padding-top: 46px;
	padding-bottom: 64px;
	padding-right: 59px;
	padding-left: 60px;


	background-color: #81b3d2;
	color: #ffffff;

	float: left;

	text-align: center;
}

.bridge {
	padding: 45px 49px 65px 49px;
}

.features h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.real-town h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

	margin: 0px;
	margin-bottom: 25px;
}

.real-town span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.real-town p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	width: 305px;

	margin: 0px;
	margin-top: 20px;
}

.town-image {
	background-image: url(../img/city.jpg);
	background-position: 0 -80px; 

	box-sizing: border-box;
	width: 800px;
	height: 256px;

	margin-left: 400px;
}

.town-features ul,
.features-rest {
	list-style: none;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;

}

.town-features li {
	box-sizing: border-box;
	width: 400px;
	height: 330px;
	text-align: center;
}

.town-item {
	padding: 0px;
	margin: 0px;
}

.town-item h3 {
	margin-bottom: 0px;
}

.town-item img {
	padding-top: 60px;
	padding-bottom: 8px;
}

.town-item .gift {
	padding-top: 56px;
}

.town-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

	margin: 0px;
	margin-top: 24px;

	text-align: center;
}

.bridge-image {
	background-image: url(../img/bridge.jpg);
	background-position: 0px -77px;

	box-sizing: border-box;
	width: 800px;
	height: 256px;
}

.wrapper {
	display: flex;
	flex-direction: row-reverse;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.last-features {
	background-color: #eeeeee;
	padding-bottom: 44px;
}

.features-rest {
	margin: 0px;
	margin-top: -1px;
	padding: 0px;
	padding-top: 46px;
}

.features-rest li {
	box-sizing: border-box;
	width: 400px;

	text-align: center;
}

.features-rest h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

	margin-top: 0px;
	margin-bottom: 23px;
}

.features-rest span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.features-rest p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;

	margin-top: 20px;
}

.reservation {
	text-align: center;

	padding-top: 52px;
}

.reservation b {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.reservation p {
	padding-top: 20px;
	margin-top: 4px;

	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.reservation-button {
	margin-top: 33px;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;

	width: 568px;
	height: 86px;

	background-color: #766357;

	border: 0px solid white;
}

.reservation-button:hover,
.reservation-button:focus {
	background-color: #604e43;
}

.reservation-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.map {
	height: 473px;
	background-image: url(../img/map.png);
}


.sedona-tag {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;

	display: block;

	padding-top: 46px;
	padding-bottom: 48px;
	margin-left: 132px;
	margin-right: 256px;
}

.social {
	display: flex;

	margin: 0px;
	padding: 0px;
	padding-top: 36px;
}

.social ul {
	list-style: none;
	margin: 36px auto;
}

.social li {
	width: 46px;
	height: 48px;

	margin-right: 6px;

	text-align: center;
	vertical-align: center;

	background-color: #81b3d2;

	display: inline-block;
}

.social li:last-child {
	margin: 0px;
}

.social a {
	display: block;
}

.social a:hover,
.social a:focus {
	background-color: #669ec0;
}

.social a:active {
	background-color: #5496bd;
	opacity: 0,3;
}

.social-button {
	display: block;
}

.twitter {
	margin: 17px 14px 16px 15px;
}

.facebook {
	margin: 13px 17px;
}

.youtube {
	margin: 16px 13px;
}

.twitter:active,
.facebook:active,
.youtube:active {
	opacity: 0.3;
}

.modal {
	color: #000000;
	background-color: #ffffff;
	margin: 0 auto;
}

.modal-find {
	box-sizing: border-box;
	width: 568px;
	padding: 55px;
}

.modal-form {
	margin: 0px;
}

.modal-form p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 29px;
}

.button-find {
	width: 458px;

	border: none;
	background-color: #81b3d2;

	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;


	text-align: center;
	padding: 0px;
	margin-top: 21px;
}

.button-find span {
	display: inline-block;
	margin: 16px 0px;
}

.button-find:hover,
.button-find:focus {
	background-color: #669ec0;
}

.button-find:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.modal-form input[type='date'] {
	box-sizing: border-box;
	font: inherit;
	width: 346px;
	border: none;
	background-color: #f2f2f2;
	margin-left: 14px;
	padding-left: 13px;
	padding-top: 9px;
	padding-bottom: 8px;
}

.modal-form input[type='number'] {
	box-sizing: border-box;
	font: inherit;
	width: 38px;
	border: none;
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 16px;
	margin-right: 16px;
	margin-left: 35px;
}

.number-wrap {
	display: flex;
}

footer {
	display: flex;
	flex-direction: row;

	margin: 0px;
	padding: 0px;
}

.footer-copyright {
	display: flex;
	margin: 0px;
	padding: 0px;
	width: auto;
}

.website {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;

	display: block;
	margin-top: 47px;
	margin-right: 8px;
	margin-left: 228px;
}

.footer-copyright a {
	margin: 0px;
	padding: 0px;
	padding-top: 38px;
}

.footer-copyright img {
	display: block;
	margin-right: 101px;
}

.parameter a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);

	display: block;
}

.parameter a:hover,
.parameter a:focus,
.parameter a:active {
	color: #81b3d2;
}

.hotels-current {
	color: #766357;
}

.hotels a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.hotels a:hover,
.hotels a:focus {
	color: #81b3d2;
}

.hotels a:active {
	color: rgba(0, 0, 0, 0.3);
}

.price-button {
	width: 133px;
	height: 32px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	border: 2px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2px;
}

.price-button:hover,
.price-button:focus {
	color: #000000;

	background-color: #ffffff;
}

.number-of-hotels {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.hotels-details span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.filters {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	background-color: #527da7;
	background-image: url(../img/background-hotels.jpg);
}

.range-scale input {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	border: 2px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2px;
}

.more-button {
	width: 120px;
	height: 27px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.more-button:hover,
.more-button:focus {
	background-color: #669ec0;
}

.more-button:active {
	color: rgba(0, 0, 0, 0.3);

	background-color: #5496bd;
}

.book-link a {
	width: 120px;
	height: 27px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
}

.filter-wrapper {
	box-sizing: border-box;
	width: 350px;
}

.filters legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filters fieldset {
	border: none;
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
}

.result,
.result ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
}

.hotels-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.hotels-rating-item {
	margin-left: auto;
}
_______________________________________________________________________________________________________________________________________________________________



.invite-image p {
	border: 1px solid black;
}


.site-navigation li {
	box-sizing: border-box;
	width: 239px;
	text-align: center;
	margin: 0px;
}

.navigation-logo{
	box-sizing: border-box;
	width: 244px;
}

.site-navigation,
.features-list,
.social {
	list-style: none;
}

.site-navigation a,
.social a,
.sedona-tag {
	color: #000000;
}


.social ul,
.filters ul,
.result ul,
.hotels ul {
	list-style: none;
}

.website {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
}

.main-header {
	position: relative;
}

.sed-logo {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}




