html {
	background-color: #f2f2f2;
}

body {
	margin: 0 auto;
	padding: 0;

	width: 1200px;

	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

	border: none;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.main-navigation li {
	box-sizing: border-box;
	width: 256px;
	border: 2px solid pink;
	padding: 22px 0px;
	margin: 0px;
}

.welcome {
	background-color: #dfebf4;
	background-image: url(../img/bg-index.jpg)
}

.welcome p {
	text-align: center;
}

.welcome-line {
	padding-top: 76px;
	padding-bottom: 0px;
}

.gorgeous-line {
	padding-top: 0px;
}

.sedona-line {
	padding-top: 50px;
}

.sucks-line {
	padding-top: 56px;
}

.welcome-mask {
	padding-top: 23px;
}

.features {
}

.reasons {
	text-align: center;
	margin: 0px;
	padding-bottom: 56px;
}

.reasons p:nth-child(2n) {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	padding-top: 61px;
}

.reasons p:nth-child(3n) {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;

	padding-top: 38px;
}

.real-town {
	box-sizing: border-box;

	width: 400px;
	height: 256px;

	padding-top: 46px;
	padding-bottom: 64px;
	padding-right: 59px;
	padding-left: 60px;


	background-color: #81b3d2;
	color: #ffffff;

	float: left;

	text-align: center;
}

.real-town h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.real-town span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.real-town p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	width: 281px;
}

.town-image {
	background-image: url(../img/city.jpg);

	box-sizing: border-box;
	width: 800px;
	height: 256px;

	margin-left: 400px;
}

.town-features ul,
.features-rest {
	list-style: none;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;

}

.town-features li {
	box-sizing: border-box;
	width: 400px;
	height: 330px;
	text-align: center;
}

.town-item img {
	padding-top: 60px;
}

.town-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin: 0 auto;
}

.bridge-image {
	background-image: url(../img/bridge.jpg);

	box-sizing: border-box;
	width: 800px;
	height: 256px;
}

.wrapper {
	display: flex;
	flex-direction: row-reverse;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.last-features {
	background-color: #eeeeee;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.features-rest li {
	box-sizing: border-box;
	width: 400px;
	height: 256px;

	text-align: center;
}

.features-rest h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.features-rest span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.features-rest p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	
}

.reservation {
	text-align: center;

	padding-top: 57px;
}

.reservation b {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.reservation p {
	padding-top: 20px;

	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.reservation-button {
	margin-top: 50px;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;

	width: 568px;
	height: 86px;

	background-color: #766357;

	border: 0px solid white;
}

.reservation-button:hover,
.reservation-button:focus {
	background-color: #604e43;
}

.reservation-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.map {
	height: 493px;
	background-image: url(../img/map.png);
}

.modal-form,
.modal-form p,
.modal-close {
	background-color: #ffffff;
}

.modal-form {
	border: none;
	padding: 0px;
	margin: 0px;
}

.modal-search {
	background-color: #ffffff;
	margin: 0px;
	width: 568px;
	height: 395px;
	margin: auto;
}

.modal-search p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.modal-search input {
	width: 346px;
	height: 38px;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #f2f2f2;

	border: none;
}


.modal-button {
	width: 458px;
	height: 58px;

	margin: 55px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #81b3d2;

	border: 0px solid white;
}

.range-scale input {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;

	border: 2px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2px;
}

.modal-parameters {
	width: 568px;

	padding: 0px;
	margin: 0px;
}

.sedona-tag {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
}

.social ul {
	list-style: none;
}

.social li {
	width: 46px;
	height: 48px;

	text-align: center;
	vertical-align: center;

	background-color: #81b3d2;

	display: inline-block;
}

.social a {
	width: 46px;
	height: 48px;

	text-align: center;
	vertical-align: center;

	background-color: #81b3d2;

	display: inline-block;

	text-align: center;
	vertical-align: center;
}

.social a:hover,
.social a:focus {
	background-color: #669ec0;
}

.social a:active {
	background-color: #5496bd;
	opacity: 0,3;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}